*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Courier New", Arial, sans-serif;
    scroll-behavior:smooth;
}


body{

    background:#020202;
    color:white;
    overflow-x:hidden;

}



/* Background */

#particles{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;

}



/* Loader */

.loader{

    position:fixed;
    width:100%;
    height:100%;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    animation:loader 2s forwards;

}


.loader div{

    color:#00ff99;
    font-size:70px;
    font-weight:bold;
    letter-spacing:10px;
    text-shadow:
    0 0 10px #00ff99,
    0 0 40px #00ff99;

}



@keyframes loader{

    0%{
        opacity:1;
    }

    80%{
        opacity:1;
    }

    100%{
        opacity:0;
        visibility:hidden;
    }

}







/* Header */


header{

    position:fixed;
    top:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.65);
    backdrop-filter:blur(15px);
    border-bottom:1px solid #111;
    z-index:100;

}



.logo{

    color:#00ff99;
    font-size:30px;
    font-weight:bold;
    text-shadow:0 0 20px #00ff99;

}



nav a{

    color:white;
    text-decoration:none;
    margin:0 10px;
    transition:.3s;

}



nav a:hover{

    color:#00ff99;

}









/* Hero */


.hero{

    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:100px 20px;

}



.hero-box{

    background:rgba(255,255,255,.03);
    padding:50px;
    border-radius:30px;
    border:1px solid rgba(0,255,153,.2);
    backdrop-filter:blur(10px);

}



.hero h1{

    font-size:90px;

}



.hero h1 span{

    color:#00ff99;
    text-shadow:
    0 0 20px #00ff99;

}



.hero h2{

    font-size:35px;
    margin:20px;

}



.hero p{

    color:#aaa;
    font-size:20px;

}









/* Buttons */


.buttons{

    margin-top:40px;

}



.btn{

    display:inline-block;
    padding:15px 40px;
    margin:10px;
    border-radius:40px;
    background:#00ff99;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;

}



.btn:hover{

    transform:translateY(-5px);
    box-shadow:0 0 30px #00ff99;

}



.second{

    background:transparent;
    color:white;
    border:1px solid #00ff99;

}









/* Sections */


.section{

    padding:90px 8%;
    text-align:center;

}



.section h2{

    color:#00ff99;
    font-size:35px;
    margin-bottom:40px;

}



.section p{

    color:#bbb;
    line-height:2;

}









/* Stats */


.stats{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:50px;

}



.stats div{

    width:200px;
    padding:30px;
    background:#0b0b0b;
    border-radius:25px;
    border:1px solid #222;

}



.stats h3{

    color:#00ff99;
    font-size:40px;

}









/* Cards */


.cards{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;

}



.card{

    width:240px;
    padding:35px 20px;
    background:rgba(255,255,255,.04);
    border:1px solid #222;
    border-radius:25px;
    transition:.4s;

}



.card:hover{

    transform:translateY(-12px);
    border-color:#00ff99;
    box-shadow:0 0 25px rgba(0,255,153,.3);

}



.card:first-letter{

    font-size:40px;

}



.card h3{

    color:#00ff99;
    margin:15px;

}









/* Skills */


.skill{

    max-width:700px;
    margin:30px auto;
    text-align:right;

}



.bar{

    width:100%;
    height:15px;
    background:#111;
    border-radius:20px;
    overflow:hidden;

}



.bar span{

    display:block;
    height:100%;
    background:#00ff99;
    border-radius:20px;
    box-shadow:0 0 15px #00ff99;

}









/* Terminal */


.terminal{

    max-width:650px;
    margin:auto;
    background:#050505;
    padding:30px;
    text-align:left;
    border-radius:20px;
    border:1px solid #00ff99;
    box-shadow:0 0 30px rgba(0,255,153,.2);

}



.terminal p{

    color:#00ff99;
    margin:15px;

}









/* Features */


.features{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;

}



.features div{

    width:250px;
    padding:35px;
    background:#0b0b0b;
    border-radius:25px;

}



.features h3{

    color:#00ff99;
    margin:15px;

}









.telegram{

    color:#00ff99;
    font-size:28px;
    text-decoration:none;

}









footer{

    padding:25px;
    text-align:center;
    background:#050505;
    color:#777;

}









/* Mobile */


@media(max-width:700px){


header{

    flex-direction:column;
    gap:15px;

}



nav{

    text-align:center;

}



.hero h1{

    font-size:50px;

}



.hero h2{

    font-size:25px;

}



.hero-box{

    padding:30px;

}



.card,
.features div{

    width:90%;

}


}
